.LINKZAO{

}

.New{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #de8f75;
    // text-decoration: underline;
    font-weight: normal;
    font-size: 32px;
}

.shelf{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 70px;
}

